header{
    position: absolute;
    top: 2.2%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Sofia", sans-serif;
    font-size: 1.5vw;
}

p{
    transform: translateX(8%);
}

#no-prize-message{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bold;
    display: none;
    align-self: center;
    margin-left: 20%;
    margin-top: -2.5%;
}

#prize-message{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    display: none;
    font-weight: bold;
    align-self: center;
    margin-left: 10%;
    margin-top: -2.5%;
}


.heart {
    position: absolute;
    width: 10vmin;
    aspect-ratio: 1 / 1;
    max-width: 100px;
    min-width: 40px;
    background-color: red;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -50%;
    left: 0;
}

.heart::after {
    left: 50%;
    top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    overflow: hidden;
}
/* 
main{
    position: relative;
    width: 100%;
    height: 100vh;
} */

#heart1 {
    top: 30vh;
    left: 15vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    rotate: -60deg;
    animation-name: beat;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#heart2 {
    top: 60vh;
    left: 80vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    rotate: -20deg;
    animation-name: beat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -40%);
    width: 26.041667%;
    height: 52.5%;
    background-color: white;
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls{
    background-color: rgb(177, 177, 177);
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    height: 10%;
    justify-content: center;
    transform: translateX(-50%);
    display: flex;
    gap: 4%;
}

.button{
    background-color: #ffb7b7;
    border: none;
    border-radius: 50%;
    width: 10%;
    height: 100%;
    cursor: pointer;
    font-size: 0.8vw;
}

#claw{
    position: absolute;
    top: 0;
    left: 10%;
    width: 12%;
    height: 26%;
    background-color: none;
    transform: translateX(-50%);
    transition: left 0.6s linear;
    will-change: left;
    border-radius: 10px;
}

#claw-inner{
    width: 100%;
    height: 100%;
}

#claw-arm{
    position: absolute;
    top: 0;
    left: 50%;
    width: 33%;
    height: 76.9%;
    background-color: gray;
    transform: translateX(-50%);
    border-radius: 10px;
}

#claw-grabber{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    height: 23%;
    background-color: darkgray;
    transform: translateX(-50%);
    border-radius: 10px;
}

#claw-grabber::before, #claw-grabber::after{
    content: "";
    position: absolute;
    width: 34%;
    height: 50%;
    background-color: darkgray;
    border-radius: 10px;
}

#claw-grabber::before{
    left: -34%;
    top: 67%;
    height: 167%;
}

#claw-grabber::after{
    top: 67%;
    right: -34%;
    height: 167%;
}

#prize-drop-area{
    position: absolute;
    left: 15%;
    width: 30%;
    height: 100%;
    transform: translateX(-50%);
}

#wall{
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 10%;
    height: 50%;
    background-color: lightgrey;
    border: 2px solid grey;
    transform: translateX(-50%);
    border-radius: 10px;
}

#prize-area{
    position: absolute;
    bottom: 10%;
    left: 65%;
    width: 70%;
    height: 40%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#prize-drop-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

.dropping {
    animation: drop 2s linear forwards;
}

.prize{
    border-radius: 50%;
    width: 20%;
    height: 35%;
    position: absolute;
}

#prize1{
    left: 10%;
    bottom: 0;
    background-color:  plum;
    border: 2px solid #e6c2e6;

}

#prize2{
    left: 40%;
    bottom: 0;
    background-color: lightblue;
    border: 2px solid #b3d9ff;
}

#prize3{
    left: 70%;
    bottom: 0;
    background-color: lightgreen;
    border: 2px solid #b3ffb3;
}

#prize4{
    left: 25%;
    background-color: lightpink;
    border: 2px solid #ffb3c6;
}

#prize5{
    left: 55%;
    background-color: lightcoral;
    border: 2px solid #ff9999;
}

#prize-reveal-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26.041667%;
    height: 52.5%;
    transform: translate(-53%, -40%);
    background-color: white;
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
    display: none;
}

.prize-reveal{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    bottom: 40%;
    left: 26%;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}

#prize1-reveal{
    background-color: plum;
    border: 2px solid #e6c2e6;
    display: none;
}

#prize2-reveal{
    background-color: lightblue;
    border: 2px solid #b3d9ff;
    display: none;
}

#prize3-reveal{
    background-color: lightgreen;
    border: 2px solid #b3ffb3;
    display: none;
}

#prize4-reveal{
    background-color: lightpink;
    border: 2px solid #ffb3c6;
    display: none;
}

#prize5-reveal{
    background-color: lightcoral;
    border: 2px solid #ff9999;
    display: none;
}

#close-reveal-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ffb7b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    display: none;
}

.gifts{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    display: none;
}


.gift-text{
    /* font-size: 1vw; */
    transform: translateX(-1%);
    margin-bottom: 5%;
}

#be-mine{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26.041667%;
    height: 52.5%;
    transform: translate(-53%, -40%);
    background-color: white;
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
    text-align: center;
    padding-top: 5%;
}

#heart-message-heart{
    font-size: 1.2vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    rotate: -45deg;
    left: 38%;
    top: 50%;
    display: none;
}

#heart-message-text{
    display: none;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes grab {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(200%);
    }
}

@keyframes drop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(250%);
    }
}

/* USE PERCENTAGES INSTEAD OF PIXELS TO AVOID ISSUES WITH DIFFERENT SCREEN SIZES */